:root {
  --primary-color: #005f73; /* Midnight green */
  --secondary-color: #0a9396; /* Dark cyan */
  --accent1-color: #ee9b00; /* Gamboge */
  --accent2-color: #ffd166; /* Sunglow */
  --heading-font: "Montserrat", sans-serif; /* Montserrat for headings */ 
  --body-font: roboto, sans-serif; /* Roboto for body text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 16px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
  border-radius: 5px;
}

.socialmedia a img{
    text-decoration: none;
    width: 40px;
    
}

